{% include "base.html" %}

{% block content %}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1cJ3PQ6l2bR5Xspx6Qg5ROAxmPLjL0CQ">
    </script>

    <script type="text/javascript">
        function initialize() {
            var mapStyles = [
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#61a7f2"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
            ];

            var mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 2,
                styles: mapStyles
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);
            {% for tour in object_list %}
                var couch{{ forloop.counter }} = new google.maps.Marker({
                    position: new google.maps.LatLng({{ tour.latitude }}, {{ tour.longitude }}),
                    map: map,
                    url: "tour/{{ tour.id }}",
                    title:"{{ tour.title }}"
                });
                google.maps.event.addListener(couch{{ forloop.counter }}, 'click', function() {
                    window.location.href = couch{{ forloop.counter }}.url;
                });
            {% endfor %}
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


    <div id="map-canvas" style="width: 100%; height: 100%; position: relative; bottom: 20px;">
    </div>

    <div class="input-group" style="position: fixed; top: 50%; left: 20%; z-index: 100;">
        <span class="input-group-addon" id="sizing-addon2">Find tour guide</span>
        <input id="search-address" type="text" class="form-control" placeholder="Type address here" aria-describedby="sizing-addon2" style="width: 600px;">
    </div>


{% endblock %}