{% extends 'base.html' %}

{% block title %}{{ tour.title }}{% endblock %}

{% block content %}
    <div class="page-header">
    <h1>{{ tour.title }}</h1> <small> From {{ tour.start_time }} to {{ tour.end_time }} </small>
    </div>
    <div class="well">
        <p>{{ tour.description }}</p>
    </div>

    <div id="map-canvas" class="col-md-12" style="height: 200px;">
    </div>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1cJ3PQ6l2bR5Xspx6Qg5ROAxmPLjL0CQ">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng({{ tour.latitude }}, {{ tour.longitude }}),
                zoom: 13
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);
                var couch = new google.maps.Marker({
                    position: new google.maps.LatLng({{ tour.latitude }}, {{ tour.longitude }}),
                    map: map
                });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

        <table>

            {% for tourist in tour.tourists.all %}
                <tr>
                    <td><a href="{{ tourist.get_absolute_url }}">{{ tourist.name }}</a> {% if tourist.name %} is going on this tour. {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% if user_in_tour and user.is_authenticated %} <a href="{{ tour.get_leave_url }}">Leave Tour</a> {% elif not user_in_tour and user.is_authenticated %} <a href="{{ tour.get_join_url }}">Join Tour</a> {% endif %} 

{% endblock %}