{% extends 'base.html' %}

{% block title %}Viewing Profile: {{ profile }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1> {{ profile.name }} </h1> <h4> {% if profile.is_guide %} Approved Guide {% endif %} </h4>
    </div>
    <table>
        <tr>
            <th>[Profile Picture]</th>
        </tr>
        <tr>
            <th>Languages</th>
            <td>{% for language in profile.languages.all %}{{ language.get_name_display }}<br>{% endfor %}</td>
        </tr>
    </table>
    <a href="{{ profile.get_update_url }}">Edit</a>
{% endblock %}