{% extends 'base.html' %}

{% block title %}Viewing Profile: {{ profile }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>[Profile Picture]</th>
        </tr>
        <tr>
            <th>Guide?</th>
            <td>{% if profile.is_guide %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ profile.name }}</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>{% for language in profile.languages.all %}{{ language.get_name_display }}<br>{% endfor %}</td>
        </tr>
    </table>
    <a href="{{ profile.get_update_url }}">Edit</a>
{% endblock %}